* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Meiryo, メイリオ, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  position: relative;
  max-width: 1170px;
  width: 100%;
  padding: 0 0;
  margin: 0 auto;
}

 footer {
  width: 100%;
  background-color: rgb(34, 49, 52);
  color: white;
}

footer .container {
  position: relative;
}

footer p.copyright {
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0em;
  padding-top: 40px;
  padding-bottom: 40px;
}